venv/*
.env
__pycache__
.vscode/*
.DS_Store
.ipynb_checkpoints
.idea
.python-version

*.egg-info/
*.csv

*/venv/*

temp
.Rproj.user


book_cub_hurricanes/**/*.png

book_cub_hurricanes/_book/*
book_cub_hurricanes/_freeze/*

scrap_copilot/*
src/haiti_email/*
